body{
    background-color: slategray;
}

.container{
    width:auto;
    padding:0px;
}

.amountButton{
    display:inline-block;
    width:50px;
    height:50px;
    background-color:antiquewhite;
}


.main{

}

.ui{
    margin-top:2px;
}

.roll{
    display:inline-block;
    width:50px;
    height:50px;
    background-image:url('../img/dice6.png');
}

.playerTurn{
    display:inline-block;
    background:antiquewhite;
    width:50px;
    height:20px;
}

.board{
    width:600px;
    height:600px;
}

.boardOverlay{
    top:0px;
    position:absolute;
    background-image:url('../img/snakes.png');
    width:600px;
    height:600px;
}

.pawn{
    top:0px;
    position:absolute;
    background-size:contain;
    width:20px;
    height:20px;
}

.pawn0{
    background-image: url("../img/pawn0.png");
}

.pawn1{
    background-image: url("../img/pawn1.png");
}


.pawn2{
    background-image: url("../img/pawn2.png");
}

.pawn3{
    background-image: url("../img/pawn3.png");
}

.tile{
    width:50px;
    height:50px;
    position:absolute;
    background-color:lightgreen;
    color:darkgreen;
}